<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, natus in animi numquam impedit laboriosam iusto, magni, ut vitae ex praesentium laborum soluta. Rerum fugiat deleniti ipsum dolores minus id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, natus in animi numquam impedit laboriosam iusto, magni, ut vitae ex praesentium laborum soluta. Rerum fugiat deleniti ipsum dolores minus id!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, natus in animi numquam impedit laboriosam iusto, magni, ut vitae ex praesentium laborum soluta. Rerum fugiat deleniti ipsum dolores minus id!</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>